// app global css in SCSS form


// Variables
$light: #bdbdbd;
$dark: #424242;
$faded: #777;

// CSS3 Root Variables
:root {
  --q-color-light: #{$light};
  --q-color-light-d: #{darken($light, 10%)};
  --q-color-faded: #{$faded};
  --q-color-dark: #{$dark};
}


.bg-transparent {
  background-color: transparent;
}

.text-transparent {
  color: transparent;
}

// CSS Classes
.text-faded {
  color: $faded !important;
  color: var(--q-color-faded) !important;
}
.bg-faded {
  background: $faded !important;
  background: var(--q-color-faded) !important;
}

.text-light {
  color: $light !important;
  color: var(--q-color-light) !important;
}
.bg-light{
  background: $light !important;
  background: var(--q-color-light) !important;
}

.text-dark {
  color: $dark !important;
  color: var(--q-color-dark) !important;
}
.bg-dark {
  background: $dark !important;
  background: var(--q-color-dark) !important;
}